<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.css" />
<link rel="stylesheet" href="~/Theme/js/bootstrap-filestyle/bootstrap-filestyle.js" />

<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Site.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
@model TMS_MANTENIMIENTO.WEB.Models.ListaLlanta
@{
    ViewData["Title"] = "Inspecciones Llantas";
}


<div class="row" style="font-size: 13px !important;">
    <div class="col-md-12">
        <div class="widget">
            <header class="widget-header" style="padding-bottom: 5px !important;">
                <div class="row">
                    <h4 class="widget-title col-md-12" style="font-weight:400 !important;font-size: 21px; color:#333333; font-family: Calibri, Helvetica Neue, Helvetica, Arial, sans-serif;">Reporte de Inspecciones Llantas</h4>
                </div>
                <form asp-action="ReporteInspeccionLlantas">
                    <div class="col-md-12 alert alert-info">
                        <div class="row" style="padding-bottom: 15px !important;">
                            <div class="input-group col-md-2">
                                <label class="form-label" for="desde" style="font-size:16px; margin-right: 3px; font-weight: bold;">Desde:</label>
                                <input type="date" id="desde" style="max-width: 140px;" asp-for="@Model.Filtro.desde" class="form-control " />
                            </div>
                            <div class="input-group col-md-2">
                                <label class="form-label" for="hasta" style="font-size:16px; margin-right: 5px; font-weight: bold;">Hasta:</label>
                                <input type="date" id="hasta" style="max-width: 140px;" asp-for="@Model.Filtro.hasta" class="form-control" />
                            </div>
                            
                                                                                
                            @if (Model.ListaTipoLlanta != null)
                            {
                                <div class="input-group col-md-2">
                                    <label class="form-label" for="IdTipoLlanta" style="font-size:16px; font-weight: bold; margin-right: 5px;">Tipo Llanta:</label>
                                    @Html.DropDownListFor(m => m.Filtro.IdTipoLlanta,
                                    new SelectList(Model.ListaTipoLlanta, "idTipo", "descripcion", Model.Filtro.IdTipoLlanta),
                                    new { @class = "form-control ", id="IdTipoLlanta",style=""})
                                </div>
                            } 
                            else
                            {
                                <select class="custom-select col-md-2" id="IdTipoLlanta" style="font-size:16px; font-weight: bold; margin-right: 5px;">
                                </select>
                            }
                            <div class="input-group col-md-2">
                                <label class="form-label" for="Termico" style="font-size:16px; margin-right: 5px; font-weight: bold;">Termico:</label>
                                <input type="text" id="Termico" style="" asp-for="@Model.Filtro.Termico" class="form-control" />
                            </div>
                            <button id="Filtrar" type="submit" class="col-md-1 btn p-v-sm btn-primary" style="margin-left: 10px; max-height: 40px; "> Filtrar </button>
                            
                            <button type="submit" name="operacion" value="excel" class="col-md-2 btn p-v-sm btn-success " style="margin-left: 50px; max-width: 150px;"><i class="zmdi zmdi-download" title="Descargar Excel"></i>Descargar Excel</button>
                        </div>
                    </div>
                </form>
            </header>
            <div class="widget-body">                
                <div class="table-responsive">
                    <table class="table table-bordered table-sm  dataTable" id="tablaInspeccion">

                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Termico
                                </th>
                                <th>
                                    Placa
                                </th>
                                <th>
                                    Estado Llanta
                                </th>
                                <th>
                                    Tipo vehiculo
                                </th>
                                <th>
                                    Numero Posicion
                                </th>
                                <th>
                                    Posicion
                                </th>
                                <th>
                                    Fecha Inspeccion
                                </th>

                                <th>
                                    Marca
                                </th>
                                <th>
                                    Medida
                                </th>
                                <th>
                                    Diseño
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.ListaInspeccion != null)
                            {


                                @foreach (var item in Model.ListaInspeccion)
                                {
                                    @Html.HiddenFor(model => item.idLlanta)
                                    ;
                                    @Html.HiddenFor(model => item.idEstadoLLanta)
                                    ;
                                    @Html.HiddenFor(model => item.idTipoVehiculo)
                                    ;
                                    @Html.HiddenFor(model => item.idLLantaInspe)
                                    ;
                                    @Html.HiddenFor(model => item.idMarcaLLanta)
                                    ;
                                    @Html.HiddenFor(model => item.idMedidaLLanta)
                                    ;
                                    @Html.HiddenFor(model => item.idDisenioLLanta)
                                    ;


                                    ;

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.idHistoInspeLlanta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.termico)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.placa)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.estadoLlanta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.tipoVehiculo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.numeroPosicion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.posicion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.fechaInspeccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.marcaLlanta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.medidaLlanta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.disenioLlanta)
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>No existen datos para mostrar</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Termico
                                </th>
                                <th>
                                    Placa
                                </th>
                                <th>
                                    Estado Llanta
                                </th>
                                <th>
                                    Tipo vehiculo
                                </th>
                                <th>
                                    Numero Posicion
                                </th>
                                <th>
                                    Posicion
                                </th>
                                <th>
                                    Fecha Inspeccion
                                </th>

                                <th>
                                    Marca
                                </th>
                                <th>
                                    Medida
                                </th>
                                <th>
                                    Diseño
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Content/jquery-2.2.4.js"></script>
    <script src="~/Content/bootstrap.js"></script>
    <script src="~/Content/modernizr-2.8.3.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaInspeccion').DataTable();
        });
    </script>

}